@import "function";

// RESETS
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

button {
  cursor: pointer;
  border: none;
}

// /* ####### */
body {
  background: #f7fafd;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.flex {
  display: flex;
  align-items: center;
}

main {
  background: #ffffff;
  box-shadow: 0px 20px 60px rgba(73, 97, 168, 0.05);
  border-radius: 15px;
}

h1 {
  font-weight: 800;
  color: #1c202b;
}

.unread-counter {
  background: #0a327b;
  color: white;
  font-weight: 800;
  font-size: toRem(16);
  border-radius: 6px;
  height: toRem(25);
  width: toRem(32);
  margin-left: toRem(11);
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  font-weight: 500;
  color: #5e6778;
  background-color: transparent;
}

.name,
.bonus-info {
  font-weight: 800;
}

.status,
.ago {
  font-weight: 500;
}

.name {
  color: #1c202b;
}

.status,
.bonus-info {
  color: #5e6778;
}

.ago {
  color: #939cad;
}

.unread p:first-child {
  position: relative;
}

.unread p:first-child::after {
  content: "";
  position: absolute;
  bottom: 6px;
  background-image: url(./assets/images/icon-unread.svg);
  background-repeat: no-repeat;
  width: toRem(8);
  height: toRem(8);
  margin-left: toRem(6);
}

.unread {
  background: #f7fafd;
  
}

.notification {
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.grid-container {
  display: grid;
}

.private-message {
  border: 1px solid #dde7ee;
  border-radius: 5px;
}

.private-message p {
  font-weight: 500;
  color: #5e6778;
}

.img-chess-container {
  justify-self: end;
}
/*##### for-phone-only ##########*/
@media (max-width: 599px) {
  body {
    padding-top: toRem(24);
  }

  main {
    width: 100%;
    padding: toRem(33) toRem(30) toRem(0) toRem(32);
    margin: 0 auto;
  }

  .notifications--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(24);
  }

  .notifications--header h1 {
    font-size: toRem(20);
  }

  .notifications--header button {
    font-size: toRem(14);
  }

  // ====================================

  .notification {
    margin-bottom: toRem(8);
    padding: toRem(16);
    padding-right: toRem(7);
  }

  .grid-container {
    grid-template-columns: toRem(52) 1fr;
  }

  .img-container {
    width: toRem(39);
  }

  .text-container {
    max-width: toRem(249);
  }

  .name,
  .status,
  .bonus-info,
  .ago {
    font-size: toRem(14);
  }

  .flex {
    align-items: flex-end;
    justify-content: flex-start;
  }

  .chess-club {
    font-weight: 800;
    font-size: toRem(14);
    color: #0a327b;
  }

  .private-message {
    width: 98%;
    padding: toRem(16);
    padding-right: 7px;
    margin-top: toRem(12);
  }

  .private-message p {
    font-size: toRem(14);
    line-height: toRem(17.64);
  }

  .img-chess-container {
    width: toRem(39);
  }

  .kimberly-speacial-grid {
    grid-template-columns: toRem(52) 1fr toRem(66);
  }
}

/*############ for-tablet-portrait-up ##############*/
@media (min-width: 600px) {
  body {
    padding: toRem(63) toRem(153) 0px toRem(153);
  }

  main {
    width: toRem(730);
    padding: toRem(33) toRem(30) toRem(0) toRem(32);
    margin: 0 auto;
  }

  .notifications--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toRem(31);
  }

  .notifications--header h1 {
    font-size: toRem(24);
  }

  .notifications--header button {
    font-size: toRem(16);
  }

  // ====================================

  .notification {
    margin-bottom: toRem(8);
    padding-top: toRem(18);
    padding-bottom: toRem(17);
    padding-left: toRem(20);
  }

  .grid-container {
    grid-template-columns: toRem(64) 1fr;
  }

  .img-container {
    width: toRem(40);
  }

  .name,
  .status,
  .icon-unread,
  .ago {
    font-size: toRem(16);
  }

  .chess-club {
    font-weight: 800;
    font-size: toRem(16);
    color: #0a327b;
  }

  .private-message {
    width: 95.5%;
    padding: toRem(20);
    padding-top: toRem(17);
    margin-top: toRem(13);
  }

  .private-message p {
    font-size: toRem(16);
    line-height: toRem(20);
  }

  .img-chess-container {
    width: toRem(45);
  }

  .kimberly-speacial-grid {
    grid-template-columns: toRem(64) 1fr toRem(223);
  }
}
